<strong>Olá, {{ student }}</strong>
<p> <strong> Temos uma resposta para seu pedido de auxlílio!!</strong></p> <br>
<p>
  <strong>Pedido: </strong> {{question}} <br>
  <strong>Resposta: </strong> {{ answer }}
</p>
